<section class="firstSection">
    <h1 class="titleFirst">Cars.com</h1>
    <p class="descriptionFirst">Everything you need to know about cars.</p>
</section>
<section class="secondSection">
    <h3 class="secondTitle">Why us?</h3>
    <div>
        <p class="textsSecond">Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's standard dummy text 
            ever since the 1500s, when an unknown printer took a galley of type 
            and scrambled it to make a type specimen book. It has survived not 
            only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s 
            with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus 
            PageMaker including versions of Lorem Ipsum.
            Lorem Ipsum is simply dummy text of the printing and typesetting 
            industry. Lorem Ipsum has been the industry's standard dummy text 
            ever since the 1500s, when an unknown printer took a galley of type 
            and scrambled it to make a type specimen book. It has survived not 
            only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s 
            with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus 
            PageMaker including versions of Lorem Ipsum.
        </p>
        <div class="imagesSecond">
        </div>    
    <div>
</section>
<section class="thirdSection">
    <h3>Our services.</h3>
    <p class="thirdDescription">It was popularised in the 1960s with the release of Letraset 
    sheets containing Lorem Ipsum passages, and more recently with 
    desktop publishing software like Aldus PageMaker including 
    versions of Lorem Ipsum.
    </p>
    <div class="thirdBoxes">
        <div class="box">
            <h4 class="boxTitle">Lorem Ipsum</h4>
            <p class="boxText"> It has survived not 
            only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. .</p>
        </div>
        <div class="box">
            <h4 class="boxTitle">Lorem Ipsum</h4>
            <p class="boxText"> It has survived not 
            only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. .</p>
        </div>
        <div class="box">
            <h4 class="boxTitle">Lorem Ipsum</h4>
            <p class="boxText"> It has survived not 
            only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. .</p>
        </div>
    </div>
</section>


<section class="fourthSection">
    <div class="callActionSection">
        <h3 class="fourthTitle">Call to action.</h3>
        <p class="fourthText">LIt was popularised in the 1960s 
            with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus 
            PageMaker including versions of Lorem Ipsum.
        </p>
    </div>    
    <div class="callToAction">
        <%= button_to "Call to action", root_path, class: "callActionButton"%>
    <div>
</section>
<section class="fifthSection">
    <h3 class="fifthTitle">Plans and subscriptions.</h3>
    <div class="fifthObjects">
        <div class="priceBox">
            <h3 class="fifthSubtitle">Free Plan.</h3>
            <p class="fifthprice">$0.00</p>
            <ul class="fifthList">
                <li>- Quam adipiscing vitae proin</li>
                <li>- Nec feugiat nisl pretium</li>
                <li>- Nulla at volutpat diam uteera</li>
            </ul>
            <div class="buySection">
                <%= button_to "Show more.", root_path, class: "buyButton"%>
            </div>
        </div>
        <div class="priceBox">
            <h3 class="fifthSubtitle">Monthly Plan.</h3>
            <p class="fifthprice">$29.99/m</p>
            <ul class="fifthList">
                <li>- Quam adipiscing vitae proin</li>
                <li>- Nec feugiat nisl pretium</li>
                <li>- Nulla at volutpat diam uteera</li>
                <li>- Nec feugiat nisl pretium</li>
                <li>- Nulla at volutpat diam uteera</li>
            </ul>
            <div class="buySection">
                <%= button_to "Show more.", root_path, class: "buyButton"%>
            </div>
        </div>
        <div class="priceBox">
            <h3 class="fifthSubtitle">Anual Plan.</h3>
            <p class="fifthprice">$149.99/y</p>
            <ul class="fifthList">
                <li>- Quam adipiscing vitae proin</li>
                <li>- Nec feugiat nisl pretium</li>
                <li>- Nulla at volutpat diam uteera</li>
                <li>- Nec feugiat nisl pretium</li>
                <li>- Nulla at volutpat diam uteera</li>
                <li>- Nec feugiat nisl pretium</li>
                <li>- Nulla at volutpat diam uteera</li>
            </ul>
            <div class="buySection">
                <%= button_to "Show more.", root_path, class: "buyButton"%>
            </div>
        </div>
    </div>
</section>
<section class="sixthSection">
    <h3>Don't waste your time.</h3>
    <p> Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry. Lorem Ipsum has been the industry's standard dummy text 
        ever since the 1500s, when an unknown printer took a galley of type 
        and scrambled it to make a type specimen book. It has survived not 
        only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s 
        with the release of Letraset sheets containing Lorem Ipsum passages, 
        and more recently with desktop publishing software like Aldus 
        PageMaker including versions of Lorem Ipsum.
    </p>
</section>