<section class="newPostPage">
  <h1 class="newPostPageTitle">New post</h1>
  <p class="newPostPageDescription">Ready for share something new?</p>
  <p class="newPostPageUrl">cars.com</p>
</section>

<section class="newPostPageFirst">
  <h3>Creating a new post.</h3>
  <div>
    <%= render "form", post: @post %>
  </div>
</section>
